@model Clinic_Automation.Models.AdvicePrescriptionModel

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

@{
    ViewBag.Title = ViewBag.ScheduleID;
}

<h5>
    Add advice and prescription
</h5>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">

                @Html.LabelFor(model => model.Advice.Advise, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Advice.Advise, new { htmlAttributes = new { @class = "form-control", id = "txtAdvise" } })
                    @Html.ValidationMessageFor(model => model.Advice.Advise, "", new { @class = "text-danger" })
                </div>

                <input style="display: none;" type="hidden" name="Advice.ScheduleID" value="@ViewBag.ScheduleID" />
            </div>
        </div>
    </div>

    <table class="table">

        <thead>
            <tr>
                <th>
                    @Html.LabelFor(model => model.Prescription.DrugID, htmlAttributes: new { @class = "form-label" })
                </th>

                <th>
                    @Html.LabelFor(model => model.Prescription.Description, htmlAttributes: new { @class = "form-label" })
                </th>

                <th></th>
            </tr>
        </thead>

        <tbody id="tblAdvPres">
            <tr>
                <td>
                    @Html.DropDownList("DrugID", null, htmlAttributes: new { @class = "form-control", id = "rowCmbDrugID" })
                </td>

                <td>
                    @Html.EditorFor(model => model.Prescription.Description, new { htmlAttributes = new { @class = "form-control", id = "rowtxtDsc" } })
                </td>

                <td>
                    <button id="btnSave" class="btn btn-primary">Save</button>
                    @*<button id="btnCancel" class="btn btn-secondary">Cancel</button>*@
                </td>
            </tr>
        </tbody>

    </table>

    <div class="row">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="btnSavePO" type="submit" value="Create" class="btn btn-dark" />
            </div>
        </div>
    </div>
}
<div class="d-flex justify-content-start w-100">
    <a href="@Url.Action("Index", "Physician")" class="btn btn-outline-dark text-decoration-none mt-3">← Back to List</a>
</div>
@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>

    var ctr = 0;

    $(function () {
        $("#btnSave").click(function (e) {
            e.preventDefault();

            ctr++;
            var row =
                `<tr>

                <td>
                    ${$("#rowCmbDrugID :selected").text()}
                    <input type="hidden" name="Prescriptions[${ctr - 1}].DrugID" value="${$("#rowCmbDrugID :selected").val()}" />
                </td>
                <td>
                    ${$("#rowtxtDsc").val()}
                    <input type="hidden" name="Prescriptions[${ctr - 1}].Description" value="${$("#rowtxtDsc").val()}" />
                </td>

                <td>
                    <input type="hidden" name="Prescriptions[${ctr - 1}].ScheduleID" value="${@ViewBag.ScheduleID}" />
                </td>

                <td>
                </td>

            </tr>`;

            $("#tblAdvPres").append(row);
        });

        $("#btnSavePO").click(function (e) {
            e.preventDefault();
            $("form").submit();
        });
    });

</script>