@model IEnumerable<Clinic_Automation.Models.PhysicianPrescription>

@{
    ViewBag.Title = ViewBag.ScheduleID;
}

@*<p>
    @Html.ActionLink("Create New", "CreatePhysicianPrescription", new { id = ViewBag.ScheduleID }, null)
</p>*@

<p>
    @if (!string.IsNullOrEmpty(ViewBag.AdviceData?.Advise))
    {
        <div>@ViewBag.AdviceData.Advise</div>
        @Html.ActionLink("Edit Advice", "EditPhysicianAdvice", new {id = ViewBag.AdviceData.PhysicianAdviceID})
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drug.Title)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.PhysicianAdvice.Advise)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drug.Title)
            </td>
            @*<td>
                <a href="@Url.Action("DeletePhysicianPrescription","Physician",routeValues: new { id = item.DrugID })" class="btn btn-danger">Delete</a>
            </td>*@
            <td>
                @Html.ActionLink("Edit", "EditPhysicianPrescription", new { id = item.PhysicianPrescriptionID })
        </tr>
    }

</table>
<p>@Html.ActionLink("Back to List", "Index")</p>
