@model IEnumerable<Clinic_Automation.Models.Schedule>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Appointment.Patient.PatientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Appointment.Reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Appointment.Criticality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Appointment.Note)
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduleID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Appointment.Patient.PatientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Appointment.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Appointment.Criticality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Appointment.Note)
            </td>
            <td>
                @Html.ActionLink("PRESCRIPTION", "DisplayPhysicianPrescription", new { id = item.ScheduleID })
            </td>
        </tr>
    }

</table>

@section Logout
    {
    @Html.ActionLink("LogOut", "LogOut", "UserLogin", new { area = "" }, new { @class = "nav-link" })
}
