@model IEnumerable<Clinic_Automation.Models.DrugRequest>

@{
    ViewBag.Title = "View Requested Drugs";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/Content/styles/Chemist.css" rel="stylesheet" />
    <link href="~/Content/styles/Drug.css" rel="stylesheet" />
</head>

<div>
    <div class="d-flex flex-column">

        <div class="parent-div-chemist">
            <div class="d-flex w-100" style="margin-bottom: 2rem">
                <div class="card-child" style="margin-right: 10px;">
                    <div class="card-details">
                        <p class="text-title mb-1">Review availability of Drugs</p>
                        <a href="@Url.Action("Index", "Drugs")" class="text-decoration-none card-button">
                            View Drugs 💊
                        </a>
                    </div>
                </div>
                <div class="card-child" style="margin-left: 10px;">
                    <div class="card-details">
                        <p class="text-title mb-1">Order new drugs</p>
                        <a href="@Url.Action("PlacePurchaseOrder", "Chemist")" class="text-decoration-none card-button">
                            Place Drug Order 📦
                        </a>
                    </div>
                </div>
                <div class="card-child" style="margin-left: 10px;">
                    <div class="card-details">
                        <p class="text-title mb-1">Check status of your ordered drugs</p>
                        <a href="@Url.Action("ViewOrders", "Chemist")" class="text-decoration-none card-button">
                            Check Order Status 🛒
                        </a>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-between align-items-center w-100">
                <h5>Drugs Requests</h5>
                <div>
                    @if (ViewBag.Filter == "Not")
                    {
                        <a href="@Url.Action("ToggleFilter", new { currentFilter = ViewBag.Filter })" class="btn btn-primary">View All</a>
                    }
                    else
                    {
                        <a href="@Url.Action("ToggleFilter", new { currentFilter = ViewBag.Filter })" class="btn btn-primary">View Un-noted Drugs</a>
                    }
                </div>
            </div>

            <div class="d-flex justify-content-between align-items-center my-2 mx-0 w-100 mt-3">
                <form class="d-flex w-100" method="get" action="@Url.Action("Index", "Chemist")">
                    <input type="hidden" name="filter" value="@ViewBag.Filter" />
                    <input type="hidden" name="page" value="@ViewBag.PageNumber" />

                    <input type="text"
                           class="form-control"
                           id="search"
                           placeholder="Search for Drug Requests"
                           name="search"
                           value="@ViewBag.search"
                           style="width: 100%; margin-right: 10px;" />
                    <button type="submit" class="btn btn-outline-primary">Search</button>
                </form>



                <div class="d-flex">
                    <a href="@Url.Action("Index", "Chemist")" class="btn btn-warning">
                        Reset
                    </a>
                </div>
            </div>
        </div>

        <div style="min-height: 260px">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayName("Requested Drug")
                    </th>
                    <th>
                        @Html.DisplayName("Request Date")
                    </th>
                    <th>
                        @Html.DisplayName("Physician who has requested")
                    </th>
                    <th>
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DrugInfoText)
                        </td>
                        <td>
                            @item.RequestedDate.ToString("dd' 'MMM' 'yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Physician.PhysicianName)
                        </td>
                        <td>
                            @if (item.RequestStatus == "Not")
                            {
                                <a href="@Url.Action("ToggleStatus",
                                    new { id = item.DrugRequestID,
                                        filter = ViewBag.Filter,
                                        page = ViewBag.PageNumber,
                                        search = ViewBag.search
                                    })"
                                   class="btn btn-warning">
                                    Mark as Noted
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("ToggleStatus",
                                    new { id = item.DrugRequestID,
                                        filter = ViewBag.Filter,
                                        page = ViewBag.PageNumber,
                                        search = ViewBag.search
                                    })"
                                   class="btn btn-outline-warning text-black">
                                    Mark as Un-noted
                                </a>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center">
        <div style="margin-right: 1rem;">
            @if (ViewBag.PageNumber > 1)
            {
                @Html.ActionLink("<<", "Index",
                new { page = ViewBag.PageNumber - 1, filter = ViewBag.Filter, search = ViewBag.search },
                new { @class = "next-button-valid" })
            }
            else
            {
                <button disabled type="button" class="next-button-invalid">&lt;&lt;</button>
            }
        </div>

        Page @(ViewBag.PageNumber ?? 1) of @(ViewBag.TotalPages ?? 1)

        <div style="margin-left: 1rem;">
            @if (ViewBag.PageNumber < ViewBag.TotalPages)
            {
                @Html.ActionLink(
                ">>", "Index",
                new { page = ViewBag.PageNumber + 1, filter = ViewBag.Filter, search = ViewBag.search },
                new { @class = "next-button-valid" }
               )
            }
            else
            {
                <button disabled type="button" class="next-button-invalid">&gt;&gt;</button>
            }
        </div>
    </div>
</div>

@section Logout{
    <li>@Html.ActionLink("LogOut", "LogOut", "UserLogin", new { area = "" }, new { @class = "nav-link btn btn-danger text-white px-3 py-1" })</li>
}
