@model IEnumerable<Clinic_Automation.Models.DrugRequest>

@{
    ViewBag.Title = "Index";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/Content/styles/Chemist.css" rel="stylesheet" />
</head>

<div>
    <h5>Requested Drugs</h5>

    <div style="min-height: 260px">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Id")
                </th>
                <th>
                    @Html.DisplayName("Request Date")
                </th>
                <th>
                    @Html.DisplayName("Physician")
                </th>
                <th>
                    @Html.DisplayName("Action")
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DrugRequestID)
                    </td>
                    <td>
                        @item.RequestedDate.ToString("dd' 'MMM' 'yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Physician.PhysicianName)
                    </td>
                    <td>
                        @if (ViewBag.Filter == "Not")
                        {
                            <a href="@Url.Action("ToggleStatus", new { id = item.DrugRequestID })" class="button-design-2">
                                Noted
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("ToggleStatus", new { id = item.DrugRequestID })" class="button-design-2">
                                Un-Noted
                            </a>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="d-flex justify-content-center align-items-center">
    <div style="margin-right: 1rem;">
        @if (ViewBag.PageNumber > 1)
        {
            <button type="button" class="button-design-1" style="color: white; text-decoration: none;">
                @Html.ActionLink("<<", "Index",
                new { page = ViewBag.PageNumber - 1, pageSize = ViewBag.PageSize, filter = ViewBag.Filter },
                new { style = "color: white; text-decoration: none;" })
            </button>
        }
        else
        {
            <button disabled type="button" class="button-design-1" style="color: white; text-decoration: none; cursor: not-allowed;">
                &lt;&lt;
            </button>
        }
    </div>

    Page @(ViewBag.PageNumber ?? 1) of @(ViewBag.TotalPages ?? 1)

    <div style="margin-left: 1rem;">
        @if (ViewBag.PageNumber < ViewBag.TotalPages)
        {
            <button type="button" class="button-design-1" style="color: white; text-decoration: none;">
                @Html.ActionLink(
                ">>", "Index",
                new { page = ViewBag.PageNumber + 1, pageSize = ViewBag.PageSize, filter = ViewBag.Filter },
                new { style = "color: white; text-decoration: none;" }
               )
            </button>
        }
        else
        {
            <button disabled type="button" class="button-design-1" style="color: white; text-decoration: none; cursor: not-allowed;">
                &gt;&gt;
            </button>
        }
    </div>
</div>
<div class="text-center mt-3">
    @if (ViewBag.Filter == "Not")
    {
        <a href="@Url.Action("ToggleFilter", new { currentFilter = ViewBag.Filter })" class="btn btn-primary">Toggle Filter</a>
    }
    else
    {
        <a href="@Url.Action("ToggleFilter", new { currentFilter = ViewBag.Filter })" class="btn btn-primary">Toggle Filter</a>
    }
</div>

