@model Clinic_Automation.Models.Chemist

<h3>Are you sure you want to delete this Chemist?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChemistName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChemistName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChemistAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChemistAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChemistNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChemistNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChemistEmailID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChemistEmailID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChemistSummary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChemistSummary)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a href="@Url.Action("DisplayAdminChemist", "Admin")" class="btn btn-outline-dark text-decoration-none ">← Back to List</a>

</div>
    }
</div>

