@model Clinic_Automation.Models.Supplier

<div>
    <h4>Supplier Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierEmailID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierEmailID)
        </dd>

    </dl>
</div>

@Html.ActionLink("Edit", "EditAdminSupplier", new { id = Model.SupplierID }, new { @class = "btn btn-outline-primary" })
<a href="@Url.Action("DisplayAdminSupplier", "Admin")" class="btn btn-outline-dark text-decoration-none ">← Back to List</a>

