@model IEnumerable<Clinic_Automation.Models.Supplier>

<p class="btn btn-primary">
    <a href="@Url.Action("CreateAdminSupplier")" class="text-decoration-none text-white">
        Create New Supplier
    </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SupplierName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierEmailID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierEmailID)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditAdminSupplier", new { id = item.SupplierID }, new { @class = "btn btn-outline-primary" })
                @Html.ActionLink("Details", "DetailsAdminSupplier", new { id = item.SupplierID }, new { @class = "btn btn-outline-info" })
                @Html.ActionLink("Delete", "DeleteAdminSupplier", new { id = item.SupplierID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>


<div class="btn btn-secondary">
    <a class="text-decoration-none text-white" href="@Url.Action("Index", "Admin")">Back to List</a>
</div>
