@model IEnumerable<Clinic_Automation.Models.Patient>
<p>
    ~~@Html.ActionLink("Home", "Index", "Admin", new { area = "" })~~
</p>
<p>
    @Html.ActionLink("Create New", "CreateAdminPatient")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PatientName)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.PatientNumber)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PatientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "EditAdminPatient", new { id = item.PatientID }) | |
            @Html.ActionLink("Details", "DetailsAdminPatient", new { id = item.PatientID }) | |
            @Html.ActionLink("Delete", "DeleteAdminPatient", new { id = item.PatientID })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
