@model IEnumerable<Clinic_Automation.Models.Chemist>


<p class="btn btn-primary">
    <a href="@Url.Action("CreateAdminChemist", "Admin")" class="text-decoration-none text-white">
        Create New Chemist
    </a>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChemistName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ChemistNumber)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChemistName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ChemistNumber)
            </td>

            <td>
                @Html.ActionLink("Edit", "EditAdminChemist", new { id = item.ChemistID }, new { @class = "btn btn-outline-primary" })
                @Html.ActionLink("Details", "DetailsAdminChemist", new { id = item.ChemistID }, new { @class = "btn btn-outline-info" })
                @Html.ActionLink("Delete", "DeleteAdminChemist", new { id = item.ChemistID }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>


<div class="btn btn-secondary">
    <a class="text-decoration-none text-white" href="@Url.Action("Index", "Admin")">Back to List</a>
</div>

