@model IEnumerable<Clinic_Automation.Models.Appointment>

<div>
    <a></a>
</div>

<div>
    <div class="text-right">
        <a href="@Url.Action("DisplayAdminAppointment", "Admin", new { statusFilter = "Pending" })" class="btn btn-warning mb-3" style="margin-right: 1rem">Pending</a>
        <a href="@Url.Action("DisplayAdminAppointment", "Admin", new { statusFilter = "Approved" })" class="btn btn-success mb-3" style="margin-right: 1rem">Approved</a>
        <a href="@Url.Action("DisplayAdminAppointment", "Admin", new { statusFilter = "Rejected" })" class="btn btn-danger mb-3" style="margin-right: 1rem">Rejected</a>
        @*<input type="date" id="calendarFilter" name="calendarFilter" class="form-control" style="margin-right: 1rem">
        <button type="button" class="btn btn-primary" onclick="applyCalendarFilter()">Apply</button>*@
        @*<input type="date" id="calendarFilter" name="calendarFilter" class="form-control mb-3" style="margin-right: 1rem" value="@ViewBag.DateFilter" placeholder="Enter the Date">*@
        <input type="text" id="calendarFilter" name="calendarFilter" class="form-control mb-3" style="margin-right: 1rem" value="@ViewBag.DateFilter" placeholder="Enter a date" onfocus="(this.type='date')" onblur="(this.type='text')">
        <button type="button" class="btn btn-primary" style="margin-right: 1rem" onclick="applyCalendarFilter()">Apply</button>
        <a href="@Url.Action("DisplayAdminAppointment", "Admin",new { statusFilter = "Pending" })" class="btn btn-outline-danger">Reset</a>
    </div>
</div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Criticality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient.PatientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Physician.PhysicianName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduleStatus)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Criticality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.PatientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Physician.PhysicianName)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.ScheduleStatus)*@

                @if (item.ScheduleStatus == "PENDING")
                {
                    using (Html.BeginForm("DisplayAdminAppointment", "Admin", method: FormMethod.Post, routeValues: new { id = item.AppointmentID }))
                    {
                        <div class="d-flex">
                            @*@Html.LabelFor(modelItem => item.ScheduleStatus, htmlAttributes: new { @class = "control-label" })*@
                            @Html.DropDownList("selectedStatus", ViewBag.statusList as SelectList, item.ScheduleStatus, new { @class = "form-control p-0 text-center" })
                            @Html.ValidationMessageFor(modelItem => item.ScheduleStatus, "", new { @class = "text-danger" })
                            <input type="submit" value="Update" class="btn btn-primary mx-1" />
                        </div>
                    }

                }
                else
                {
                    @Html.DisplayFor(modelItem => item.ScheduleStatus)
                }
            </td>
        </tr>
    }

    </table>
</div>

<script>
    function applyCalendarFilter() {
        var selectedDate = document.getElementById("calendarFilter").value;

        // Redirect to the DisplayAdminAppointment action with the selected date as a parameter
        window.location.href = '@Url.Action("DisplayAdminAppointment", "Admin")?dateFilter=' + selectedDate;
    }
</script>
