@model Clinic_Automation.Models.Physician

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Physician</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Edit Physician</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.PhysicianID)

            <div class="form-group">
                @Html.LabelFor(model => model.PhysicianName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhysicianName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhysicianName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mt-2">
                @Html.LabelFor(model => model.PhysicianAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhysicianAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhysicianAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mt-2">
                @Html.LabelFor(model => model.PhysicianNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhysicianNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhysicianNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mt-2">
                @Html.LabelFor(model => model.PhysicianEmailID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhysicianEmailID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhysicianEmailID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mt-2">
                @Html.LabelFor(model => model.Specialization, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Specialization, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Specialization, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mt-2">
                @Html.LabelFor(model => model.PhysicianSummary, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhysicianSummary, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhysicianSummary, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row mt-4">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input id="btnSavePO" type="submit" value="Save" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
    }

    <div>
        <a href="@Url.Action("DisplayAdminPhysician", "Admin")" class="btn btn-secondary text-decoration-none text-white mt-3">Back to List</a>
    </div>
</body>
</html>

