@model IEnumerable<Clinic_Automation.Models.Physician>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table-sm">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Physician_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specialization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Physician_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specialization)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Physician_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Physician_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Physician_ID })
        </td>
    </tr>
}

</table>
