@model IEnumerable<Clinic_Automation.Models.Physician>

<li>@Html.ActionLink("Physican", "DisplayAdminPhysician", "Admin", new { area = "" })</li>

<li>@Html.ActionLink("Patient", "DisplayAdminPatient", "Admin", new { area = "" })</li>

<li>@Html.ActionLink("Chemist", "DisplayAdminChemist", "Admin", new { area = "" })</li>

<li>@Html.ActionLink("Supplier", "DisplayAdminSupplier", "Admin", new { area = "" })</li>

<li>@Html.ActionLink("Appointment", "DisplayAdminAppointment", "Admin", new { area = "" })</li>

<li>@Html.ActionLink("LogOut", "LogOut", "UserLogin", new { area = "" })</li>
