@model IEnumerable<Clinic_Automation.Models.PurchaseProductLine>


@{
    ViewBag.Title = "Display Product Line";
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Drug.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseOrderHeader.PurchaseOrderID)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.PurchaseOrderHeader.PurchaseOrderStatus)
            </th>*@
        @*<p>
                @ViewBag.PurchaseOrderHeader.PurchaseOrderStatus
            </p>*@

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Drug.Title

            </td>
            <td>
                @item.Quantity
            </td>
            <td>
                @item.Note
            </td>
            <td>
                @item.PurchaseOrderHeader.PurchaseOrderID
            </td>
            @*<td>
                    @Html.DropDownList("DrugStatus", (SelectList)ViewBag.DrugStatuses[item.DrugId], "-- Select Status --", new { @class = "form-control" })
                </td>*@

            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.SlNo }) |
                    @Html.ActionLink("Details", "Details", new { id=item.SlNo }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.SlNo })
                </td>*@
        </tr>
    }

</table>
@using (Html.BeginForm("DisplayProductLine", "Supplier", FormMethod.Post))
{
    @Html.HiddenFor(model => model.FirstOrDefault().PurchaseOrderID) <!-- Include hidden field for PurchaseOrderID -->

    <div class="form-group">
        @Html.LabelFor(model => model.FirstOrDefault().PurchaseOrderHeader.PurchaseOrderStatus, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("selectedStatus", ViewBag.PurchaseOrderStatusList as SelectList, "-- Select Status --", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FirstOrDefault().PurchaseOrderHeader.PurchaseOrderStatus, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-dark" />
    </div>
}
@*@Html.DropDownListFor(model => model.FirstOrDefault().PurchaseOrderHeader, (SelectList)ViewBag.PurchaseOrderStatusList, "-- Select Purchase Order Status --", new { @class = "form-control" }) <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>*@
