@model IEnumerable<Clinic_Automation.Models.Appointment>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Criticality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.PatientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Physician.PhysicianName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Criticality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduleStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.PatientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Physician.PhysicianName)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.AppointmentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AppointmentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AppointmentID })*@
        </td>
    </tr>
}

</table>
