@model Clinic_Automation.Models.Patient

@{
    ViewBag.Title = "ViewProfile";
}

<h2>ViewProfile</h2>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Patient ID")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PatientID)
        </dd>
        <dt>
            @Html.DisplayName("PatientName")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientName)
        </dd>

        <dt>
            @Html.DisplayName("Date of Birth")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayName("Patient Phone Number")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientNumber)
        </dd>

        <dt>
            @Html.DisplayName("Email Address")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientEmail)
        </dd>

        <dt>
            @Html.DisplayName("Patient Address")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientAddress)
        </dd>

        <dt>
            @Html.DisplayName("Gender")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayName("Patient Summary")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientSummary)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditProfile", new { id = Model.PatientID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
